# Build & IDE
.dart_tool/
.pub-cache/
.pub/
**/build/
**/coverage/
.idea/
*.iml
.vscode/
.metadata

# Flutter
.flutter-plugins-dependencies
**/ios/Flutter/.last_build_id
.widget_preview/

# OS
.DS_Store
Thumbs.db

# Logs & scratch
*.log
*.swp
